# ignore everything
*

# still search in folders though
!*/

!.gitignore
!LICENSE
!README.md

!build.sh
!Dockerfile

!src/lead2gold/motif/__init__.py
!src/lead2gold/motif/motif.py
!src/lead2gold/motif/motif_fix.py


!src/lead2gold/tools/__init__.py
!src/lead2gold/tools/alignace.py
!src/lead2gold/tools/cmf.py
!src/lead2gold/tools/consensus.py
!src/lead2gold/tools/emd.py
!src/lead2gold/tools/graphprot.py
!src/lead2gold/tools/homer.py
!src/lead2gold/tools/mcat.py
!src/lead2gold/tools/mds.py
!src/lead2gold/tools/meme.py
!src/lead2gold/tools/pfm_horizontal.py
!src/lead2gold/tools/ppm_horizontal.py
!src/lead2gold/tools/pwm_horizontal.py
!src/lead2gold/tools/pwm_vertical.py
!src/lead2gold/tools/rpmcmc.py
!src/lead2gold/tools/sshmm.py
!src/lead2gold/tools/tool.py
!src/lead2gold/tools/transfac.py
!src/lead2gold/tools/transfaclike.py
!src/lead2gold/tools/weeder.py
!src/lead2gold/tools/zagros.py

!src/lead2gold/util/__init__.py
!src/lead2gold/util/pwm2consensus.py
!src/lead2gold/util/sequence2pwm.py

!src/lead2gold/__main__.py
!src/lead2gold/__init__.py

